module.exports = {
    //targetFolder: '/var/lib/vdr/plugins/osd2web/http',          // Ziel bei npm run build (production)
    //targetFolder_dev: '/var/lib/vdr/plugins/osd2web/http/dev',  // Ziel bei npm run dev (entwicklung)
    additional_skins:{                                            // diese skins(s) zusätzlich verwenden
      'skin-example': ['default', 'theme-example'] 
    },
    /*skins:{                                          // Wenn auschlisslich diese skin(s) verwendet werden sollen
      'default': ['default'], 
      'skin-example': ['default', 'theme-example'] 
    }*/
        
  };