@import '~bootstrap/scss/bootstrap.scss';


body {
    padding-top: 4rem;
}

.viewport {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.dataarea {
}

.statusbar {
}

.eventarea {
}

.timerarea {
}

button.but-red {
    background-color: red;
    border-color: red;
    color: #fff;
}

button.but-green {
    background-color: green;
    border-color: green;
    color: #fff;
}

button.but-blue {
    background-color: blue;
    border-color: blue;
    color: #fff;
}

button.but-yellow {
    background-color: yellow;
    border-color: yellow;
    color: #222;
}

.nav-item.active>a {
    color: blue !important;
}
