*~
*.a
*.o
*.so
*.log
.dependencies
po/*.mo
po/*.pot
client/dist/skins/*
!client/dist/skins/default
!client/dist/skins/horchiTft
client/node_modules/
client/npm-debug.log
client/skins.config.js
client/src/skins/*
!client/src/skins/default/
!client/src/skins/horchiTft/
