@import "plain.scss";

body {
    background-color: black;
}

// container

.statusbar {
    background-color: #27567e;
    color: white;
}

.channel {
    background-color: #27567e;
    color: white;
}

.event {
    background-color: #0275d8;
    background: linear-gradient(to bottom right, #051526, #0275d8);
}

.replay {
    background-color: #0275d8;
    background: linear-gradient(to bottom right, #051526, #0275d8);
}

.replay-control {
    background-color: #27567e;
}

.replay-btn {
   color: white;
}

// text elemente

.chtxt {
    color: #ffffed;
}

.titletxt {
    color: white;
}

.durationtxt {
    color: white;
}

.htxt {
    color: #d2e00d;
}

.desctxt {
    color: white;
}

// recording list

.recording  {
    background: linear-gradient(to bottom right, #a8004d, #004c65);
}

.rltmtxt {  // recording list time text
    color: white;
}

// timer list

.timer {
    background: linear-gradient(to bottom right, #051526, #0275d8);
    color: #b2aec3 !important;
}

.timeron {
    background: linear-gradient(to bottom right, #ed0d0d, #000);
    color: white !important;
}

.tmtxt {
    color: #e2f208; // white;
}

.tltmtxt {  // timer time text
    color: white; // #b2aec3;
}

.tltmch {  // channel name
    color: white; // #b2aec3;
}

.tlvdrtxt{  // timer vdr name text
    color: #d2e00d;
}

.customdata  {
    background: linear-gradient(to bottom right, #051526, #0275d8);
    background: linear-gradient(to bottom right,#1a2cba,#f3f911);
    color: black !important;
}

// menu

.textmenu {
    background: linear-gradient(to bottom right, #051526, #0275d8);
    color: #b2aec3;
}

.textmenu-current {
    background: linear-gradient(to bottom right, #051526, #0275d8);
    color: white;
}

.menutitle {
   color: white;
}

.customfiletxt {
   color: white;
}