@import "plain.scss";

body {
    background-color: black;
}

// container

.statusbar {
    background-color: #27567e;
    color: white;
}

.channel {
    background-color: #27567e;
    color: white;
}

.event {
    background-color: #0275d8;
    background: linear-gradient(to bottom right, #051526, #0275d8);
}

.replay {
    background-color: #0275d8;
    background: linear-gradient(to bottom right, #051526, #0275d8);
}

.replay-control {
    background-color: #27567e;
    color: #27567e;
}

// text elemente

.chtxt {
    color: #ffffed;
}

.titletxt {
    color: white;
}

.htxt {
    color: #d2e00d;
}

.desctxt {
    color: white;
}

// timer list

.timer {
    background: linear-gradient(to bottom right, #051526, #0275d8);
    color: #b2aec3 !important;
}

.timeron {
    background: linear-gradient(to bottom right, #ed0d0d, #000);
    color: white !important;
}

.tltmtxt {  // timer time text
    color: #b2aec3;
}

.tlvdrtxt{  // timer vdr name text
    color: #d2e00d;
}

.customdata  {
    background: linear-gradient(to bottom right, #051526, #0275d8);
    color: #b2aec3 !important;
}

// menu

.textmenu {
    background: linear-gradient(to bottom right, #051526, #0275d8);
    color: #b2aec3;
}

.textmenu-current {
    background: linear-gradient(to bottom right, #051526, #0275d8);
    color: white;
}
