@import "../../common.scss";

body {
    padding-top: 0px;
    line-height: 1.2;
}

// container

.dataarea {
    height: 92vh;
    overflow: hidden;
}

.diaarea {
    height: 99vh;
    overflow: hidden;
}

.statusbar {
    height: 6vh;
    position: fixed;
    bottom: 2px;
    width: 99%;
    z-index: 99;
    left: 5px;
}

.eventarea {
    padding: 5px;
}

.rightarea {
    height: 93vh;
    overflow: hidden;
    padding: 0px;
}

.timerarea {
    max-height: 46vh;
    overflow: hidden;
}

.customarea {
    max-height: 0px;
    overflow: hidden;
}

.recordingarea {
}

.channel {
    height: 10vh;
    overflow: hidden;
}

.menutitle {
   height: 4vh;
   overflow: hidden;
   margin-top: 1vh;
   text-align: center;
}


.event {
    height: 40vh;
    overflow: hidden;

    .carousel-item.active {
        display: block;
         > img {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            height: auto;
         }
    }
}

.epg-image {
    width: 14vw;
}

.img-thumbnail {
    background-color: transparent;
}

.img-fluid {
    max-height: 100%;
}

.replay {
    height: 76vh;
    overflow: hidden;
}

.replay-control {
    width: 100%;
    height: 5vh;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.replay-btn {
   min-height: 100%;
   max-height: 100%;
   width: auto;
   margin-left: 20px;
   color: black;
}

.replay-btn-act {
   color: red !important;
}

// channel logo

.chlogo {
    height: 100%;
    margin-right: 20px;
}

// text elemente

.chtxt {
    font-size: 8vh !important;
}

.titletxt {
    font-size: 6vh;
}

.htxt {
    color: #0275d8;
    font-size: 3.8vh;
}

.desctxt {
    font-size: 3.5vh;
}

.progress-bar {
    background-color: #d2e00d;
    color: black;
}

// status bar

.sdatetxt {
    font-size: 3.0vh;
}

.stimetxt {
    font-size: 4.0vh;
    font-weight: bold;
}

// timer list

.timer {
}

.timeron {
}

.tmtxt {   // timer text
    font-size: 2.7vh;
}

.tltmch {  // timer channel
}

.tltmtxt {  // timer time text
    color: #b2aec3;
    font-size: 2.0vh;
}

.tlvdrtxt{  // timer vdr name text
    color: #d2e00d;
    font-size: 2.0vh;
}

.customdata  {
    line-height: 1.0;
    font-size: 2.5vh;
}

.customfiletxt {
    text-align: center;
}

.recording  {
    font-size: 2.7vh;
}

// menu

.textmenu {
    font-size: 2.7vh;
    border-radius: .25rem;
}

.textmenu-current {
    border-radius: .25rem;
    font-size: 3.0vh;
}
