@import "../../common.scss";

body {
  padding-top: 0px;
}

.eventarea {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.channel {
    height: 63px;
    -webkit-flex: 10;
    flex: 10;
}

.event {
    height: 308px;
    overflow: hidden;
    -webkit-flex: 45;
    flex: 45;
}

.o2wChannelCircle {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    font-size: 30px;
    text-align: center;
    padding: 0;
}

.htxt {
   color: darkblue;
}
